:root{
  --primary: #1aac83;
  --error:#e7195a;
}
body {
 background: #f1f1f1;
 margin: 0;
 font-family: "Poppins";
} 
header{
  background: #ffff;
}
header .container{
  max-width: 1400px;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
header a{
  color: #3333;
  text-decoration: none;
} 
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
